* {
	background-color: slategray 
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#button-container {
	display: flex;
	gap: 20px;
}

button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#timer-container {
	display: flex;
	gap: 20px;
}

#feedback-container {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.mic-button {
	width: 100px;
	height: 100px;
	background-color: transparent;
	border: 10px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.mic-button::before {
	content: '';
	width: 60px;
	height: 60px;
	background-color: firebrick;
	border-radius: 50%;
	position: absolute;
}

#stop-button::before {
	border-radius: 20%;
}

#pause-button {
	position: relative;
}

#button-label-container {
	display: flex;
	gap: 20px;
}

#pause-button::before {
	background-color: firebrick;
	content: '';
	width: 15px;
	height: 80px;
	position: absolute;
	left: 30px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

#pause-button::after {
	background-color: firebrick;
	content: '';
	width: 15px;
	height: 80px;
	position: absolute;
	right: 30px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.resume-button::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 30px solid white;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: absolute;
	left: 35%;
	transition: all 0.3s ease;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch p {
	left: 200px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
